#!KAMAILIO

#!define WITH_DEBUG
#!define WITH_DISPATCHER
#!define WITH_ANTIFLOOD

debug=2
log_stderror=yes
memdbg=5
memlog=5
log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "

children=8
async_workers=4
fork=yes

port=5060
tcp_connection_lifetime=3604
tcp_accept_no_cl=yes
tcp_async=yes

loadmodule "jsonrpcs.so"
loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "sanity.so"
loadmodule "ctl.so"
loadmodule "cfg_rpc.so"
loadmodule "acc.so"
loadmodule "counters.so"
loadmodule "dispatcher.so"
loadmodule "htable.so"
loadmodule "pike.so"
loadmodule "rtimer.so"
loadmodule "sqlops.so"

modparam("jsonrpcs", "pretty_format", 1)
modparam("jsonrpcs", "transport", 2)
modparam("ctl", "binrpc", "unix:/var/run/kamailio/kamailio_ctl")

modparam("tm", "failure_reply_mode", 3)
modparam("tm", "fr_timer", 30000)
modparam("tm", "fr_inv_timer", 120000)

modparam("rr", "enable_full_lr", 1)
modparam("rr", "append_fromtag", 0)

modparam("registrar", "method_filtering", 1)
modparam("registrar", "max_expires", 3600)
modparam("registrar", "gruu_enabled", 0)

modparam("usrloc", "db_mode", 0)

modparam("acc", "early_media", 0)
modparam("acc", "report_ack", 0)
modparam("acc", "report_cancels", 0)
modparam("acc", "detect_direction", 0)
modparam("acc", "log_extra", "src_user=$fU;src_domain=$fd;dst_ouser=$tU;dst_user=$rU;dst_domain=$rd")

modparam("dispatcher", "list_file", "/etc/kamailio/dispatcher.list")
modparam("dispatcher", "flags", 2)
modparam("dispatcher", "ds_ping_method", "OPTIONS")
modparam("dispatcher", "ds_ping_interval", 8)
modparam("dispatcher", "ds_probing_mode", 1)
modparam("dispatcher", "ds_probing_threshold", 2)
modparam("dispatcher", "ds_inactive_threshold", 1)
modparam("dispatcher", "ds_ping_reply_codes", "class=2;code=403;code=404;code=484")

modparam("htable", "htable", "ipban=>size=8;autoexpire=300;")

modparam("pike", "sampling_time_unit", 2)
modparam("pike", "reqs_density_per_unit", 32)
modparam("pike", "remove_latency", 4)

request_route {
	if (!mf_process_maxfwd_header("10")) {
		sl_send_reply("483","Too Many Hops");
		exit;
	}

	if ($ua =~ "friendly-scanner|sipcli|sipvicious|VaxSIPUserAgent") {
		xlog("L_NOTICE", "scanner blocked from $si\n");
		exit;
	}

	route(ANTIFLOOD);

	if (!sanity_check("1511", "7")) {
		xlog("L_INFO", "sanity check failed for $si\n");
		exit;
	}

	if (has_totag()) {
		if (loose_route()) {
			route(RELAY);
		} else {
			sl_send_reply("404", "Not here");
		}
		exit;
	}

	if (is_method("CANCEL")) {
		if (t_check_trans()) {
			route(RELAY);
		}
		exit;
	}

	t_check_trans();

	if (is_method("REGISTER")) {
		if (!save("location")) {
			sl_reply_error();
		}
		exit;
	}

	if (is_method("INVITE")) {
		record_route();
		route(TO_FS);
		exit;
	}

	if (is_method("OPTIONS")) {
		sl_send_reply("200", "OK");
		exit;
	}

	sl_send_reply("405", "Method Not Allowed");
}

route[ANTIFLOOD] {
	if ($sht(ipban=>$si) != $null) {
		xlog("L_WARN", "ip $si is banned\n");
		exit;
	}
	if (!pike_check_req()) {
		xlog("L_ALERT", "pike flood from $si, banning\n");
		$sht(ipban=>$si) = 1;
		exit;
	}
}

route[TO_FS] {
	if (!ds_select_dst("1", "4")) {
		send_reply("503", "No FreeSWITCH upstream");
		exit;
	}
	t_on_failure("RETRY_FS");
	route(RELAY);
}

failure_route[RETRY_FS] {
	if (t_check_status("5[0-9][0-9]") && ds_next_dst()) {
		t_on_failure("RETRY_FS");
		route(RELAY);
	}
}

route[RELAY] {
	if (!t_relay()) {
		sl_reply_error();
	}
	exit;
}

onreply_route {
	if (status =~ "1[0-9][0-9]") {
		exit;
	}
}
